
<link rel="stylesheet" type="text/css" href="login.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form #newCustomer = "ngForm" (ngSubmit)="process(newCustomer.value)">
        <p>Signup</p> 
					<input type="email" name="customerName" placeholder="Email" required="" ngModel>
					<input type="password" name="address" placeholder="Password" required="" ngModel>
          <a><td><input type="submit" name="submitted"/></td></a>
				</form>
			</div>

		<div class="login">Login

				<form #newCustomer = "ngForm" (ngSubmit)="shoppingCart(newCustomer.value)">

				  <td><input type="text" name="customerName" placeholder="Email" required="" ngModel></td>

				  <td><input type="password" name="address" placeholder="Password" required="" ngModel></td>

				 <a><td><input type="submit" name="submitted"/></td></a>

				</form>

				</div>
	</div>


</body>

